body {
    cursor: url('media/wczapce.png'), auto;
}

#lights {
    float: left;
    position: fixed;
    top: 0vh;
    right: -25vh;
    height: 25vh;
    transform: rotate(45deg);
}

#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}