body {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    background-color: #f4bc8d;
    cursor: url('media/cursor.png'), auto;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.rainbow {
    animation: colorchange 1.1s infinite;
}

.spin {
    animation: spin 1s infinite;
}

@keyframes colorchange {
    0% {
        background: red;
    }
    15% {
        background: yellow;
    }
    30% {
        background: turquoise;
    }
    45% {
        background: lime;
    }
    60% {
        background: crimson;
    }
    85% {
        background: aqua;
    }
    100% {
        background: deeppink;
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.hideBottom {
    bottom: -50vh !important;
}

.hideTop {
    top: -50vh !important;
}

#drawer {
    width: 100vw;
    height: 1em;
    background: #ffffff30;
    padding: .7rem 0px;
    position: relative;
}

#drawer:active {
    bottom: 0;
}

a,
a:visited {
    color: #774b27;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#ver {
    padding: 4px 5px;
    border-radius: 4px;
}

#ver.dev {
    background-color: #af3517;
}

#ver.stable {
    background-color: #f1e7e7;
    color: #1b0c0c;
}

.icon {
    height: 2rem;
    stroke: #774b27;
}

.btn {
    background: #ffffff50;
    border-radius: 4px;
}

.box {
    width: calc(100vw - 12px);
    margin: 3px 6px;
    padding: 3px 6px;
    background: #ffffff55;
    box-sizing: border-box;
    border-radius: 4px;
}

.loading {
    animation: spin 1s infinite;
    /* display: block; */
    position: relative !important;
}