#mediabezwyboru {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: black;
}

#mediabezwyboru p {
    max-width: 50rem;
    width: 50%;
    margin: auto;
}

#settings {
    display: none;
}

body {
    background-color: black !important;
}