body {
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	background-color: #f4bc8d;
	transition: background-color .2s;
	cursor: url('media/cursor.png'), auto;
	/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-family: 'Courier New', Courier, monospace;
	color: #fefefe;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

a, a:visited {
	color: #774b27;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.message a {
	text-decoration: underline;
}

@keyframes colorchange {
	0% {
		background: red;
	}
	15% {
		background: yellow;
	}
	30% {
		background: turquoise;
	}
	45% {
		background: lime;
	}
	60% {
		background: crimson;
	}
	85% {
		background: aqua;
	}
	100% {
		background: deeppink;
	}
}

.hidden {
	display: none !important;
}

#promo {
	position: absolute;
	bottom: .5rem;
	left: 0;
	width: 100%;
}

/* main */

#content {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#lines {
	text-shadow: 0 0 32px #fefefe, 5px 2px 1px #fff4;
	position: absolute;
	top: calc(50% - 7.25vh);
	width: 100%;
	user-select: none;
}

#lines>div {
	transition: .15s ease-in-out;
	/* display: none; */
}

#display {
	font-size: 9.5vh;
	display: none;
	/* padding-bottom: 40vh; */
}

#clock {
	font-size: 0;
	display: inline-block;
	border-bottom: 2px solid white;
}

#lines.clock>#clock {
	font-size: 10vh;
	display: inline-block;
	margin-bottom: 1rem;
}

#lines.clock.display>#clock {
	font-size: 5vh;
	display: inline-block;
}

#lines.display>#display {
	display: block;
}

#display.hidden+#clock {
	background-color: red;
}

#audio {
	position: absolute;
	transform: translateX(-50%);
	transition: ease-in-out 0.5s;
	bottom: 3.7rem;
	z-index: 2;
	left: -100vw;
}

/* chat */

#chat{
	position: absolute;
    height: 100%;
    width: 29%;
    min-width: 23rem;
    right: 0;
    padding: 1em;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

#messages{
	height: 95%;
	overflow: scroll;
}

.message:last-child{
	/* border-bottom: 2px solid white; */
	box-shadow: inset 0px -8px 8px -8px #fff2
}

.message {
	text-align: left;
    position: relative;
    border-bottom: 1px solid #ffffff17;
    padding: 0.1em 0;
}

.message.self {
	border-left: 2px solid white;
}

.nick {
	font-size: 0.8rem;
	width: 5rem;
	text-align: right;
	display: inline-block;
	font-style: italic;
	margin-right: .3em;
    font-family: monospace;
}

.nick:after{
	content: ":";
}

.nick.root{ color: red; }
.nick.owner{ color: greenyellow; }

.time{
	font-size: 0.6rem;
    position: absolute;
    right: 0;
    top: .2em;
}

.content {
    display: inline-block;
    width: calc(100% - 8rem);
	overflow-wrap: break-word;
}

#input {
	position: absolute;
    bottom: 1em;
	display: flex;
	width: calc(100% - 2em);
}

#input #message {
	width: 100%;
}

#input #send {
	width: 4em;
}

#input input{
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border-radius: 0;
	background-color: #fefefe10;
	padding: 0.6em 0.5em;
    color: white;
}

#input input::placeholder{
	color: #fffa;
}

#input input:hover{
	background-color: #fff2;
}

#input input[type=button]{
	cursor: pointer;
}

@media (max-width: 65em) {

	#input {
		position: static;
		width: 100%;
	}

	#chat {
		height: 41%;
		width: 100%;
		min-width: unset;
	}
	
}

/* viewers */

#eyes {
	position: absolute;
	top: calc(50% + 15vh);
	width: 100%;
	transition: opacity 0.2s linear;
}

#eyes.low {
	opacity: 0;
}

#eyes:after {
	content: "👁️ "attr(data-count);
	padding: 0.4em 0.5em;
	padding-top: 0.5em;
	padding-right: 0.6em;
	background-color: #fff1;
	border-radius: 30px;
}

/* extras */

#settings {
	display: flex;
	flex-wrap: wrap;
	font-family: Helvetica, sans-serif;
	font-size: .9rem;
}

.section {
	text-align: left;
	padding: 1em;
	box-sizing: border-box;
	flex: 1 1 50%;
}

.header {
	margin-bottom: 1em;
	border-bottom: 2px solid #fff3;
}

.toggle {
	display: block;
	padding: .5em;
	cursor: pointer;
	user-select: none;
}

.toggle:hover {
	background-color: #fff2;
}

.toggle>span {
	color: #555;
}

.toggle input {
	cursor: pointer;
}

:checked+span {
	color: inherit;
}

/* during event */

body.event.rainbow {
	animation: colorchange 15s infinite;
}

body.event.rainbow #lines {
	mix-blend-mode: difference;
}

body.event #lines.clock>#clock {
	font-size: 11.5vh;
}

body.event #display {
	font-size: 3vh;
}

#audio.event {
	left: 50%;
}

/* footer */

#footer {
	width: 100%;
	height: 1em;
	background: #fefefe38;
	padding: .7rem 0px;
	font-size: 0.75rem;
}

#ver {
	font-size: .6rem;
	padding: 4px 5px;
	border-radius: 4px;
}

#ver.dev {
	background-color: #af3517;
}

#ver.stable {
	background-color: #f1e7e7;
	color: #1b0c0c;
}