.icon {
    position: absolute;
    right: 0;
    padding: 0px 5px;
}

#nickname {
    width: 3.1rem;
    padding: .2rem;
    margin: .2rem;
    text-transform: uppercase;
}

#display {
    padding: 0.2rem;
    margin: .2rem;
    position: relative;
    display: inline-block;
}

#scoreboard {
    text-transform: uppercase;
}

#scoreboard>li {
    margin: 2px 10% 2px 5%;
    background: #ffffff33;
}