.audio {
    display: inline-block;
    padding: .2em;
    background-color: #fefefe;
    border-radius: 1em;
    position: relative;
}

.audio svg.icon {
    height: 100%;
}

.button {
    float: left;
    padding: .2em;
    cursor: pointer;
    height: 1.75em;
    box-sizing: border-box;
}

.button.playpause:active svg, .button.volume:active svg {
    stroke-width: 3;
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-left {
    100% {
        transform: rotate(-360deg);
    }
}

.audio[data-playing="false"] .button.sine svg path {
    animation-play-state: paused;
}

.audio .button.sine svg path {
    transform-origin: center;
}

.audio .button.sine svg .in {
    animation: spin-left 4s linear infinite;
}

.audio .button.sine svg .out {
    animation: spin-right 4s linear infinite;
}

.button::before {
    content: '';
    opacity: 0;
    transition: 0s opacity;
}

.button:hover::before {
    content: attr(data-tooltip);
    background-color: #fefefe30;
    border-radius: .2em;
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    left: 0;
    opacity: 1;
    transition-delay: .7s;
}